name: Binary wheel builds

on:
  workflow_call:
    inputs:
      pyproject-directory:
        description: 'Directory to find pyproject.toml'
        required: false
        type: string
        default: '.'

jobs:
  build-sdist:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          version: "0.8.15"

      - name: Build sdist
        run: uv build --project=${{ inputs.pyproject-directory }} --sdist -o dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: build-sdist
          path: dist/*.tar.gz
          if-no-files-found: error

  build-wheels:
    needs: [ 'build-sdist' ]
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel, macos-14]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          name: build-sdist

      - name: Copy sdist (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: Copy-Item *.tar.gz sdist.tar.gz

      - name: Copy sdist (Unix)
        if: runner.os != 'Windows'
        shell: bash
        run: cp *.tar.gz sdist.tar.gz

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          version: "0.8.15"

      - name: Install cibuildwheel
        run: uv sync --project=${{ inputs.pyproject-directory }} --locked --no-default-groups --group wheels

      - name: Build wheels
        run: uv run --no-default-groups --project={{ inputs.pyproject-directory }} cibuildwheel sdist.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: build-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
          if-no-files-found: error
