name: Documentation Build Template

on:
  workflow_call:
    inputs:
      pyproject-directory:
        description: 'Directory to find pyproject.toml'
        required: false
        type: string
        default: '.'

jobs:
  Docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
          fetch-depth: 0

      - uses: actions/setup-python@v5.4.0
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.15"
      
      - name: Install doc deps
        run: uv sync --project=${{ inputs.pyproject-directory }} --locked --group docs
        
      - name: Build documentation
        run: uv run --project=${{ inputs.pyproject-directory }} jupyter-book build -nW docs/

      - name: Trigger tskit-site rebuild
        if: github.ref == 'refs/heads/main'
        run: |
          curl -X POST https://api.github.com/repos/tskit-dev/tskit-site/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u AdminBot-tskit:${{ secrets.ADMINBOT_TOKEN }} \
          --data '{"event_type":"build-docs"}'
