name: Reusable Lint Workflow

on:
  workflow_call:
    inputs:
      clang-format-version:
        description: 'Version of clang-format to use'
        required: false
        type: string
        default: ''

jobs:
  pre-commit:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-python@v5.4.0
        with:
          python-version: '3.12'

      - name: Install clang-format (if needed)
        if: ${{ inputs.clang-format-version != '' }}
        run: pip install clang-format==${{ inputs.clang-format-version }}
  
      - uses: pre-commit/action@v3.0.1
