# Requires
# - pyproject.toml with a group called "lint" which must include prek
# - A prek.toml file
name: Lint workflow for tskit-dev

on:
  workflow_call:
    inputs:
      pyproject-directory:
        description: 'Directory to find pyproject.toml'
        required: false
        type: string
        default: '.'
    
jobs:
  prek:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.2.2
        with:  
          submodules: true

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.11
          version: "0.10.2"

      - name: Install lint group 
        # Nore there is some subtlety here in using the --only-group approach.
        # We **do not** install the local package, which means we don't need
        # any system dependencies, but it can lead to oddities.
        run: uv sync --locked --project=${{ inputs.pyproject-directory }} --only-group lint 

      - name: Run prek
        run: |
          uv run --locked --project=${{ inputs.pyproject-directory }} --only-group lint \
          prek -c ${{ inputs.pyproject-directory }}/prek.toml run --all-files --show-diff-on-failure
