name: Reusable Python packaging tests

on:
  workflow_call:
    inputs:
      additional-apt-packages:
        description: 'Additional APT packages to install'
        required: false
        type: string
        default: ''
      pyproject-directory:
        description: 'Directory to find pyproject.toml'
        required: false
        type: string
        default: '.'
      cli-test-cmd:
        description: 'CLI test command to run'
        default: ''
        type: string

jobs:
  python-packaging:
    name: Python packaging tests
    runs-on: ubuntu-24.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
          fetch-depth: 0
          
      - name: Install additional APT packages
        if: ${{ inputs.additional-apt-packages != '' }}
        run: sudo apt-get update && sudo apt-get install -y ${{ inputs.additional-apt-packages }}

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          version: "0.8.15"

      - name: Install packaging deps
        working-directory: ${{ inputs.pyproject-directory }}
        run: uv sync --locked --group packaging --no-default-groups

      - name: Validate pyproject
        working-directory: ${{ inputs.pyproject-directory }}
        run: uv run --locked --group packaging --no-default-groups validate-pyproject pyproject.toml -v

      - name: Build artefacts
        working-directory: ${{ inputs.pyproject-directory }}
        run: uv build

      - name: Twine check
        working-directory: ${{ inputs.pyproject-directory }}
        run: uv run --locked --group packaging --no-default-groups twine check --strict dist/*

      - name: Install into venv
        working-directory: ${{ inputs.pyproject-directory }}
        run: |
          uv venv cli-test
          uv pip install --python=cli-test dist/*.whl

      - name: Run CLI (if present)
        if: ${{ inputs.cli-test-cmd != '' }}
        working-directory: ${{ inputs.pyproject-directory }}
        run: |
          source cli-test/bin/activate
          ./cli-test/bin/${{ inputs.cli-test-cmd }}
