name: Reusable Python Tests

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python version to use'
        required: true
        type: string
      os:
        description: 'Operating system to run on'
        required: true
        type: string
      pyproject-directory:
        description: 'Directory to find pyproject.toml'
        required: false
        type: string
        default: '.'
      coverage-directory:
        description: 'Directory to calculate coverage for'
        required: true
        type: string
      additional-apt-packages:
        description: 'Additional APT packages to install'
        required: false
        type: string
        default: ''

jobs:
  test:
    name: Unit tests
    runs-on: ${{ inputs.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: true

      - name: Install additional APT packages
        if: ${{ inputs.additional-apt-packages != '' }}
        run: sudo apt-get update && sudo apt-get install -y ${{ inputs.additional-apt-packages }}

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ inputs.python-version }}
          version: "0.8.15"

      - name: Install test deps
        run: uv sync --project=${{ inputs.pyproject-directory }} --locked --group test --no-default-groups

      - name: Run tests
        run: |
          uv run  --project=${{ inputs.pyproject-directory }} --locked --group test --no-default-groups \
            pytest --cov-report=xml --cov-branch -n2 --cov=${{ inputs.coverage-directory }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: python-tests
          files: coverage.xml
          disable_search: true
          verbose: true
