name: Reusable Python C interface unit tests

on:
  workflow_call:
    inputs:
      additional-apt-packages:
        description: 'Additional APT packages to install'
        required: false
        type: string
        default: ''
      pyproject-directory:
        description: 'Directory to find pyproject.toml'
        required: false
        type: string
        default: '.'

jobs:
  python-c-tests:
    name: Python-C unit tests
    runs-on: ubuntu-24.04

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.13.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          submodules: true

      - name: Install dev tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ inputs.additional-apt-packages }}

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.11
          version: "0.8.15"

      - name: Install Python dependencies
        run: uv sync  --project=${{ inputs.pyproject-directory }} --locked --group test --no-default-groups

      - name: Build module
        working-directory: ${{ inputs.pyproject-directory }}
        run: CFLAGS=--coverage uv run --no-default-groups python setup.py build_ext --inplace

      - name: Run low-level tests
        run: uv run --project=${{ inputs.pyproject-directory }} --no-default-groups  --locked --group test \
          pytest ${{ inputs.pyproject-directory }}/tests/test_python_c.py

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          gcov_args: --preserve-paths
          flags: c-python
          fail_ci_if_error: true
